In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor

In [2]:
df = pd.read_csv('Master Data 3(for model building).csv')
df.head()

,Hours,HeadCount,MonthNo,WeekNo_Encoded,ProjScale_Encoded,JobLevel_Associate,JobLevel_Manager,JobLevel_PPMD,JobLevel_SSC Classes,JobLevel_Senr Associate,JobLevel_Temp/Unknown
0,40.0,1,5,55,2,0,0,0,0,0,1
1,40.0,1,5,54,2,0,0,0,0,0,1
2,40.0,1,5,57,2,0,0,0,0,0,1
3,40.0,1,5,52,2,0,0,0,0,0,1
4,40.0,1,5,60,2,0,0,0,0,0,1

In [3]:
X = df.drop('Hours', axis=1)
y = df['Hours']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1, test_size=0.0001)

In [6]:
X_test

,HeadCount,MonthNo,WeekNo_Encoded,ProjScale_Encoded,JobLevel_Associate,JobLevel_Manager,JobLevel_PPMD,JobLevel_SSC Classes,JobLevel_Senr Associate,JobLevel_Temp/Unknown
23412,1,8,8,2,0,0,0,0,0,1
24320,1,12,18,3,0,0,0,1,0,0
10307,1,3,50,2,0,0,0,0,1,0
19224,1,7,31,2,0,0,1,0,0,0

In [8]:
# Export the test dataset
X_test.to_csv('test.csv', index=False)